<ion-header>
  <ion-toolbar>
    <ion-title>SmartStock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="title">SmartStock</div>
  
  <div class="button-container">
    <ion-button class="custom-button" routerLink="/inventory-search">Busqueda en inventario</ion-button>
    <ion-button class="custom-button" routerLink="/sales-register">Registrar Compra - Venta</ion-button>
  </div>

  <!-- Aquí puedes poner la imagen que subiste -->
  <div class="image-container">
    <img src="assets\image.png" alt="QR Code" class="qr-image" />
  </div>
</ion-content>
<!-- Autor en la esquina inferior -->
<div class="author">
  CristhianVinces
</div>